{% load staticfiles i18n %}
<div data-role="footer" data-theme="b" data-position="fixed" data-id="footer-nav" data-tap-toggle="false">
    <data class="row">
        <div>
            <p><small>{% trans 'Provided by Ontario Immigrant Network' %} <br/> <a href="#" onclick="$('#contacts3-popup').popup('open');">{% trans 'Contacts' %}</a>
                &nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="$('#privacy3-popup').popup('open');">{% trans 'Privacy Policy' %}</a>
                &nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="$('#supporters3-popup').popup('open');">{% trans 'Supporters' %}</a></small></p>
        </div>
    </data>
</div>

<div data-role="popup" id="contacts3-popup" data-theme="a" class="ui-corner-all" data-transition="pop">
    <div>
        <h3>{% trans 'Contact Us' %}</h3>
        <p>{% trans 'Email' %} - <a href="mailto:fly@oinweb.ca">fly@oinweb.ca</a></p>
        <p>{% trans 'Twitter' %} - <a href="http://twitter.com/oinweb">@oinweb</a></p>
        <p>{% trans 'Website' %} - <a href="http://oinweb.ca">oinweb.ca</a></p>
        <button data-role="button" class="ui-btn ui-corner-all ui-shadow ui-btn-b" onclick="$('#contacts3-popup').popup('close');">{% trans 'Close' %}</button>
    </div>
</div>

<div data-role="popup" id="privacy3-popup" data-theme="a" class="ui-corner-all" data-transition="pop">
    <div style="overflow-y:scroll;">
        <h3>{% trans 'Privacy Statement' %}</h3>
        <h5>{% trans 'Introduction' %}</h5>
        <p>{% trans 'Ontario Immigrant Network maintains this web site to help the public find information about its services. Ontario Immigrant Network is committed to ensuring your privacy while you visit the site.' %}</p>
        <h5>{% trans 'Links to other sites' %}</h5>
        <p>{% trans 'The Ontario Immigrant Network web site provides links to other sites that may be of interest. This privacy statement covers the main Ontario Immigrant Network web site and those of Ontario Immigrant Network business units ONLY and not the web sites of other organizations. Each organization’s web site may have a different privacy statement depending on the nature of its site. You should review the privacy statement each time you submit personal information on a web site.' %}</p>
        <h5>{% trans 'Collection of information' %}</h5>
        <p>{% trans 'The only information collected that is used to identify you is information you give voluntarily. When you submit a question or comment, you may be asked for your name, e-mail address, or other information. This information is only used to process and respond to your question or comment. This information is not disclosed except to authorized personnel who need it to answer your question. In transit, the information that you send may not be secure. If you would prefer to raise a comment or question in person, please call Ontario Immigrant Network at 519-521-3135.' %}</p>
        <h5>{% trans 'Security' %}</h5>
        <p>{% trans 'Ontario Immigrant Network computer system uses software to monitor unauthorized attempts to upload or change information, or damage the service we provide. No attempt is made to identify users or their usage patterns except during investigations.' %}</p>
        
        <button data-role="button" class="ui-btn ui-corner-all ui-shadow ui-btn-b" onclick="$('#privacy3-popup').popup('close');">{% trans 'Close' %}</button>
    </div>
</div>

<div data-role="popup" id="supporters3-popup" data-theme="a" class="ui-corner-all" data-transition="pop">
    <div class="text-center">
        <h3>{% trans 'FLY was made possible by:' %}</h3>
        <a href="http://www.libro.ca"><img src="{% static 'img/libro.png' %}" alt="libro logo" class="supporter-image libro" /></a>
        <a href="http://www.web-alchemist.com"><img src="{% static 'img/webalchemists.png' %}" alt="web alchemists logo" class="supporter-image" style="width:47%;float:left;padding:0;"/></a>
        <a href="http://www.mikasoftware.com"><img src="{% static 'img/mikasoftware.png' %}" alt="academics today logo" class="supporter-image" style="width:49%;float:right;padding:0;margin-top:15px;" /></a>
        <a href="http://www.vivacanada.com"><img src="{% static 'img/vivacanada.jpg' %}" alt="viva canada logo" class="supporter-image" /><br/></a>
        <button data-role="button" class="ui-btn ui-corner-all ui-shadow ui-btn-b" onclick="$('#supporters3-popup').popup('close');">{% trans 'Close' %}</button>
    </div>
</div>

<script>
$(document).ready(function(){
    $.mobile.ajaxEnabled = false;
    $.mobile.allowSamePageTransition = false;

    new ShareButton({
            networks: {
                pinterest: { enabled: false },
                reddit: { enabled: false },
                linkedin: { enabled: false },
                whatsapp: { enabled: false }
            }
        });

});
</script>