{% load staticfiles i18n %}

<input id="notification_id" type="hidden" value=0 />
<input id="notification_type" type="hidden" value=0 />

<div data-role="popup" id="levelup-popup" data-theme="a" class="ui-corner-all" data-transition="pop">
    <div class="text-center">
        <h3>{% trans "You've earned a new FLY level!" %}</h3>
        <p class="text-left">{% trans "Congratulations! You've just leveled up your financial skills! Let your friends know, and keep up the good work!" %}</p>
        <fieldset class="level-up-fieldset">
            <h3 class="level" id="id_levelup_num">
                <!-- Level Number Placeholder -->
            </h3>
            <h4 class="level-title"  id="id_levelup_title">
                <!-- Description Placeholder -->
            </h4>
        </fieldset>
        <button onclick="ajax_share_and_reload();" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-comment">{% trans "Share" %}</button>
        <button onclick="ajax_delete_this_notification(); $('#levelup-popup').popup('close');" data-role="button" class="ui-btn ui-corner-all ui-shadow ui-btn-b">{% trans "OK" %}</button>
    </div>
</div>

<div data-role="popup" id="badge-popup" data-theme="a" class="ui-corner-all" data-transition="pop">
    <div class="text-center">
        <h3 id="id_new_badge_title">
            <!-- Title Placeholder -->
        </h3>
        <p class="text-left" id="id_new_badge_description">
            <!-- Description Placeholder -->
        </p>
        <p><i class="fa fa-3x fa-thumbs-up"></i></p>

        <button onclick="ajax_share_and_reload();" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-comment">{% trans "Share" %}</button>
        <button onclick="ajax_delete_this_notification(); $('#badge-popup').popup('close');" data-role="button" class="ui-btn ui-corner-all ui-shadow ui-btn-b">{% trans "OK" %}</button>
    </div>
</div>

<script>
    /**
     *  Function will lookup any Notifications in Queue and then load the
     *  associated modal popup for the found Notifications.
     */
    function handle_fly_notifications()
    {
        var criteria = Array();
        criteria.push({ 'user': {{ request.user.id }} });

        filter_notifications(
            criteria,
            function(json_result) {
                $(json_result).each(function(iter,notifications){
                    $(notifications['results']).each(function(iter2,notification){
                        var type = notification['type'];
                        if (type == 1) {
                            popup_level_up_modal(notification);
                        } else if (type == 2) {
                            popup_new_badge_modal(notification);
                        }
                        console.log("Create Popup of Type: "+type);

                        // Stop the current iteration which will result handling
                        // only a single notification at a time.
                        return false;
                    });
                });
            },
            function(error_json) {
                //alert("Unknown error with notifications. See console log.");
                console.log(error_json);
            }
        );
    }

    /**
     *  Function will delete the Notification object and then load-up
     *  the modal indicating a modal.
     */
    function popup_level_up_modal(notification) {
        // Extract data from the notification.
        var id = notification['id'];
        var num = notification['xplevel_num'];
        var title = notification['xplevel_title'];

        // Load up the UI on the page.
        $('#id_levelup_num').html("Level "+num);
        $('#id_levelup_title').html(title);
        $('#notification_id').val(id);
        $('#notification_type').val(1);
        $('#levelup-popup').popup('open');
    }

    function popup_new_badge_modal(notification) {
        // Extract data from the notification.
        var id = notification['id'];
        var description = notification['description'];
        var title = notification['title'];

        // Load up the UI on the page.
        $('#id_new_badge_description').html(description);
        $('#id_new_badge_title').html(title);
        $('#notification_id').val(id);
        $('#notification_type').val(2);
        $('#badge-popup').popup('open');
    }

    /**
     *  Function will delete the currently popped notification.
     */
    function ajax_delete_this_notification() {
        var id = parseInt( $('#notification_id').val() );

        // Delete the notification in the database.
        delete_notification(
            id,
            function(ok) {
                // Do Nothing.
            },
            function(error_json) {
                //alert("Unknown error with notification deletion. See console log.");
                console.log(error_json);
            }
        ); // end Delete Notification.
    }

    /**
     *  Function will load the share page for the particular notification_id.
     */
    function ajax_share_and_reload(){
        var id = parseInt( $('#notification_id').val() );
        var url = "{% url 'share_page' 0 %}";
        var details_url = url.replace("0", parseInt(id) );
        window.location = details_url;
    }

</script>
