{% load staticfiles i18n %}
{% if user.is_authenticated %}
    <div data-role="header" data-theme="b" data-id="header-nav" data-position="fixed" data-tap-toggle="false" class="text-center">
        <div class="user-info">
            {% if request.me.avater.url != None %}
                <img src="{{ request.avatar.url }}" class="user-image" />
            {% else %}
                <img src="{% static 'img/photo.png' %}" class="user-image" />
            {% endif %}
            <h5 class="level">
                <span id="id_me_xp_level">Lvl {{ request.me.xplevel.num }}</span>
            </h5>
        </div>
        <div class="progress-bar-div">
            <div class="progress">
                <div id="id_me_xp" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ request.me.xp_percent }}">
                    {{ request.me.xp }}/{{ request.me.xplevel.max_xp }} XP
                </div>
            </div>
        </div>
        <div class="nav-menu">
            <a onclick="start_page_tour();">
                <i class="fa fa-question-circle fa-fw"></i>
            </a>
            <a class="menu-button" href="#nav-menu-panel">
                <i class="fa fa-bars fa-fw"></i>
            </a>
            <a class="close-menu-button" href="#nav-menu-panel" data-rel="close" style="display:none;"></a>
        </div>
    </div><!-- /header -->
    <script>
        /**
         *  Function will fetch the Me object and update the Top Menu with the
         *  latest data.
         */
        function ajax_refresh_me_top_menu() {
            get_me(
                {{ request.me.id }},
                function(me) {
                    var level = me['num'];
                    $('#id_me_xp_level').html("Lvl "+level);
                   
                    var xp_score = me['xp'] + "/" + me['max_xp'];
                    $('#id_me_xp').html(xp_score);
                   
                    var xp_percent = me['xp_percent'];
                    $('#id_me_xp').css('width', xp_percent);
                },
                function(json_error) {
                    console.log(json_error);
                }
            );
        }
    </script>
{% endif %}