{% extends 'basepage/base.html' %}
{% load staticfiles i18n %}
{% block content %}

<!-- ---------- login ------------- -->
<div data-role="page" id="login-page">
    <!-- ---------- login content ------------- -->
    <div data-role="content" align="center" data-theme="a" style="">
        <div class="row">                            <!-- row -->
            <div class="container" id="inner-login-container">
                {% include "authentication/login_js.html" %}
                <img src="{% static 'img/oin-fly-logo.png' %}" id="login-logo" alt="bizmula-logo" style="" />

                <form style="width:280px;margin:auto;">
                    <input type="text" placeholder="{% trans 'Email Address' %}" id="id_email" />
                    <input type="password" placeholder="{% trans 'Password' %}" id="id_password"  />
                    <input id="id_login_btn" type="button" onclick="ajax_login();" value="{% trans 'Login' %}" class="ui-btn ui-corner-all" />
                </form>
                <div class="clearfix"></div>
                <a id="id_register_btn" href="{% url 'register' %}" class="ui-btn ui-corner-all" style="background-color: #666;padding-top:25px;"><span>{% trans "Create Account" %}</span></a>
            </div><!-- container -->
        </div>
    </div>

    {% include "basepage/footer.html" %}

    <!-- Error Message Modal -->
    <div data-role="popup" id="login-popup" data-theme="a" class="ui-corner-all" data-transition="pop">
        <div>
            <h3>{% trans "Login: Error" %}</h3>
            <p>
                <div id="id_error"></div>
            </p>
            <button id="id_ok_btn" data-role="button" class="ui-btn ui-corner-all ui-shadow ui-btn-b" onclick="$('#login-popup').popup('close');">{% trans "Close" %}</button>
        </div>
    </div>
    <!-- end Error Message Modal -->
</div>
{% endblock content %}
