{% load staticfiles i18n %}
<script type="text/javascript">
    $(document).ready(function(){
        loadUserData();
                      
        // Add a slight deley before detect any notications and load UI.
        setTimeout(function(){
            handle_fly_notifications();
        }, 500);
    });
    
    function load_goal()
    {
        {% if goal_type == constants.SAVINGS_MYGOAL_TYPE %}
            window.location = "{% url 'savings_goals' %}";
        {% elif goal_type == constants.CREDIT_MYGOAL_TYPE %}
            window.location = "{% url 'credit_goals' %}";
        {% elif goal_type == constants.GOAL_MYGOAL_TYPE %}
            window.location = "{% url 'final_goals' %}";
        {% else %}
            alert("Unknown goal type detected.");
            console.log("{{ goal_type }}");
        {% endif %}
   
    }

</script>
