{% extends 'basepage/base.html' %}
{% load staticfiles i18n mygoals_extras %}
{% block content %}

<!-- ---------- My Goals: Complete ------------- -->
<div data-role="page" style="background-color:#fff;" id="goal-page-complete">
    {% include 'basepage/top_menu.html' %}
    {% include 'basepage/side_menu.html' %}
    {% include "mygoals/complete/view_js.html" %}
    <div data-role="content">
        <div class="text-center">
            <div class="text-center">
                <h2>{% trans "Congratulations" %}!</h2>
                <h4>{% trans "You completed your goal, this is awesome! " %}
                
                </h4>
                <br/><br/>
                <h4>{% trans "You've Earned 25 xp" %}</h4>
                <p onclick="$('#badge-popup').popup('open')" style="margin-left:auto;margin-right:auto;border:2px solid #ddd;border-radius:50%;width:70px;padding:10px;">
                <i class="fa fa-3x fa-thumbs-up" style="color:green;"></i></p>
                
                <div class="social-sharing">
                    <share-button></share-button>
                </div>
                <button data-role="button" class="ui-btn ui-corner-all ui-shadow ui-btn-b" onclick="load_goal();">{% trans "OK" %}</button>
            </div>
        </div>
    </div><!-- /content -->
    
    {% include "basepage/notification.html" %}
    {% include "basepage/footer.html" %}
    
</div><!-- /page -->
{% endblock content %}