{% extends 'basepage/base.html' %}
{% load staticfiles i18n %}
{% block content %}

<!-- ---------- resources ------------- -->
<div data-role="page">
    {% include 'basepage/top_menu.html' %}
    {% include 'basepage/side_menu.html' %}
    <script>
        $(document).ready(function(){
            loadUserData();
                     
            // Add a slight deley before detect any notications and load UI.
            setTimeout(function(){
                handle_fly_notifications();
            }, 500);
                          
            // check if user is on an IOS device and change app links
            if(navigator.userAgent.match(/iPhone|iPad|iPod/i)){
                $('#mint-link').attr('href','https://itunes.apple.com/ca/app/mint-money-manager-budget/id300238550?mt=8');
                $('#goodbudget-link').attr('href','https://itunes.apple.com/ca/app/goodbudget-budget-planner/id471112395?mt=8')
                $('#mvelopes-link').attr('href','https://itunes.apple.com/ca/app/mvelopes-personal-finance/id417933753?mt=8')
            }
        });
    </script>

    <!-- Content -->
    <div data-role="content">
        <div class="text-center">
            <div class="my-boxes red-box resources-box">
                <img src="{% static 'img/oinflyapp-social-media-icon.png' %}" />
                <h2>{% trans "Social Media" %}</h2>
                <ul data-role="listview" data-inset="true" class="m0">
                    <li>
                        <a href="{{ resource.url }}">
                            test
                        </a>
                    </li>
                </ul>
            </div>
            <share-button></share-button>
        </div>
    </div>
    <!-- /content -->

    {% include "basepage/notification.html" %}
    {% include "basepage/footer.html" %}

</div><!-- /page -->
<script>
    $(document).ready(function(){
        new ShareButton({
            networks: {
                pinterest: { enabled: false },
                reddit: { enabled: false },
                linkedin: { enabled: false },
                whatsapp: { enabled: false }
            }
        });
    });
</script>
{% endblock content %}