{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel="stylesheet" href="{% static 'css/jquery.mobile-1.4.5.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/jquery.mobile-1.4.5.min.js' %}"></script>
</head>
<body>
    <!-- CSRF Token -->
    {% csrf_token %}
    
    <!-- CONTENT -->
    {% block content %}
    {% endblock %}
    <!-- /.CONTENT -->
</body>
<script type="text/javascript" src="{% static 'js/facebook.js' %}"></script>
<script type="text/javascript" src="{% static 'js/googleplus.js' %}"></script>
<script type="text/javascript" src="{% static 'js/storage.js' %}"></script>
{% include "api/common_js.html" %}
{% include "api/login.html" %}
{% include "api/register.html" %}

<!-- Facebook SDK -->
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1670933129848966',
            xfbml      : true,
            version    : 'v2.5'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
</script>
<!-- end Facebook SDK -->
</html>
