{% load staticfiles i18n %}
<div data-role="panel" data-position="right" data-display="overlay" data-theme="a" id="nav-menu-panel" align="center" >
    <img src="#" class="user-image" />
    <h5>Hello, {{ request.user.first_name }} </h5>
    <ul data-role="listview">
        <li>
            <a onclick="window.location='/{{ request.language }}/account';"><i class="fa fa-user fa-fw"></i> Profile</a>
        </li>
        <li>
            <a onclick="window.location='/{{ request.language }}/notifications';"><i class="fa fa-cog fa-fw"></i> Notifications</a>
        </li>
        <li>
            <a onclick="window.location='/{{ request.language }}/';"><i class="fa fa-power-off fa-fw"></i> Log Out</a>
        </li>
        <li data-role="list-divider">
        </li>
        <li>
            <a onclick="window.location='guided-tour.html';"><i class="fa fa-question-circle fa-fw"></i> Help</a>
        </li>
        <li>
            <a onclick="window.location='/{{ request.language }}/dashboard';"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
        </li>
        <li>
            <a onclick="window.location='/{{ request.language }}/mygoals';"><i class="fa fa-bullseye fa-fw"></i> My Goals</a>
        </li>
        <li>
            <a onclick="window.location='/{{ request.language }}/learning';"><i class="fa fa-edit fa-fw"></i> Learning</a>
        </li>
        <li>
            <a onclick="window.location='/{{ request.language }}/resources';"><i class="fa fa-link fa-fw"></i> Resources</a>
        </li>
    </ul>
</div><!-- /panel -->