{% extends 'basepage/base.html' %}
{% load staticfiles %}
{% block content %}

<!-- ---------- login ------------- -->
<div data-role="page" id="login-page">
    <!-- ---------- login content ------------- -->
    <div data-role="content" align="center" data-theme="a" style="">
        <div class="row">                            <!-- row -->
            <div class="container" id="inner-login-container">
                <img src="{% static 'img/oin-fly-logo.png' %}" id="login-logo" alt="bizmula-logo" style="">
                    
                    <form style="width:280px;margin:auto;">
                        <input type="text" placeholder="Email Address" name="email" id="id_email" />
                        <input type="text" placeholder="First Name" name="fname" id="id_first_name" />
                        <input type="text" placeholder="Last Name" name="lname" id="id_last_name" />
                        <input type="password" placeholder="Password" name="pass1" id="id_password" />
                        <input type="password" placeholder="Confirm Password" name="pass2" id="id_password" />
                        <input onclick="ajax_register();" type="button" value="Register" class="ui-btn ui-corner-all" />
                    </form>
                    <div class="clearfix"></div>
                    <a href="/{{ request.language }}/login" class="ui-btn ui-corner-all" style="background-color:#666;padding-top:25px;"><span>Login</span></a>
                </div><!-- container -->
        </div>
    </div>
    
    {% include "basepage/footer.html" %}
</div>
<script>
    function ajax_register() {
        ajax_new_user(
            function(json_result) {
                      
                console.log(json_result);
                ajax_login(
                    $('#id_email').val(),
                    $('#id_password').val(),
                    function(login_json_result) {
                           
                        console.log(login_json_result);
                           
                    },
                    function(login_error_json_result) {
                           
                        console.log(login_error_json_result);
                           
                    }
                ); // end Login
                      
            },
            function(error_json_result) {
                // Convert the error json into string.
                var string = JSON.stringify( error_json_result );
                console.log(string);
                if (string.indexOf("username") > -1)
                {
                    console.log("Missing email, please fill it it.");
                    //TODO: Error message.
                }
                else if (string.indexOf("password") > -1)
                {
                      console.log("Missing password, please fill it in.");
                     //TODO: Error message.
                }
                else if (string.indexOf("has already been taken by another user") > -1)
                {
                      console.log("Email has already been taken by another user");
                      //TODO: Error message.
                }
                else if (string.indexOf("has already been taken by another user") > -1)
                {
                      console.log("first_name");
                      //TODO: Error message.
                }
                else if (string.indexOf("has already been taken by another user") > -1)
                {
                      console.log("last_name");
                      //TODO: Error message.
                }
            }
        ); // end New User.
    }
    
    function ajax_new_user(success_callback, error_callback) {
        var username = $('#id_email').val();
        var email = $('#id_email').val();
        var password = $('#id_password').val();
        var first_name = $('#id_first_name').val();
        var last_name = $('#id_last_name').val();
        
        registration(
            username, email, password, first_name, last_name,
            function(json_result) {
                // Success
                if (json_result['status'] == 'success') {
                    success_callback(json_result['user_id']);
                } else {
                    error_callback(json_result['errors']);
                }
                     
            },
            function(error_json) {
                error_callback(error_json['errors']);
            }
        ); // End Registration
    }

    function ajax_login(username, password, success_callback, error_callback) {
        sign_in(
            username,
            password,
            function(json_result) {
                if (json_result.status == "success") {
                    success_callback();
                }
                else {
                    error_callback('Error - Wrong email or password.');
                }
            },
            function(error_callback) {
                // Do nothing.
            }
        ); // End Login
    }
</script>


{% endblock content %}