{% load staticfiles i18n %}
<script type="text/javascript">
    $(document).ready(function(){
        loadUserData();
                      
        // Add a slight deley before detect any notications and load UI.
        setTimeout(function(){
            handle_fly_notifications();
        }, 500);
    });
                      
    function ajax_finish_final_goal(goal_id)
    {
        // Step 1: Fetch the Goal model object from the API.
        get_final_goal(
            goal_id,
            function(goal) {
                // Step 2: Update the goal.
                goal["was_accomplished"] = $('#goal-switch').val();
                goal["is_closed"] = 'True';
                goal["earned_xp"] = 25;
                                           
                // Step 3: Save the goal.
                set_final_goal(
                    goal,
                    function(goal) {
                        // Step 4: Load up the success UI if the goal was accomplished, else
                        //         load the the savings UI.
                        if ($('#goal-switch').val() == "True") {
                            evaluate_me(
                                {{ request.me.id }},
                                function(me) {
                                    window.location = "/{{ request.language }}/mygoals/{{ constants.GOAL_MYGOAL_TYPE }}/"+goal['id']+"/complete";
                                },
                                function(error_json3) {
                                    $('#error-popup').popup('open');
                                    $('#id_error_title').html('{% trans "Final" %}');
                                    $('#id_error_message').html('{% trans "An unknown error occured when final goal, please see log." %}');
                                    console.log(error_json3);
                                }
                            ); // end Run Game Loop.
                        } else {
                            window.location = "/{{ request.language }}/mygoals/{{ constants.GOAL_MYGOAL_TYPE }}/"+goal['id']+"/sorry";
                        }
                    },
                    function(error_json) {
                        $('#error-popup').popup('open');
                        $('#id_error_title').html('{% trans "Goal" %}');
                        $('#id_error_message').html('{% trans "An unknown error occured when saving goal, please see log." %}');
                        console.log(error_json);
                    }
                );
            },
            function(error_json) {
                $('#error-popup').popup('open');
                $('#id_error_title').html('{% trans "Goal" %}');
                $('#id_error_message').html('{% trans "An unknown error occured when fetching goal, please see log." %}');
                console.log(error_json);
            }
        );
    }
</script>
