{% extends 'basepage/base.html' %}
{% load staticfiles i18n %}
{% block content %}

<!-- ---------- quiz ------------- -->
<div data-role="page" style="background-color:#fff;" id="course-quiz-1">

    {% include 'basepage/top_menu.html' %}
    {% include 'basepage/side_menu.html' %}
    {% include "basepage/notification.html" %}
    {% include 'learning/quiz/question_js.html' %}
    <script type="text/javascript">
        $(document).ready(function(){
            loadUserData();

            // Add a slight deley before detect any notications and load UI.
            setTimeout(function(){
                handle_fly_notifications();
            }, 500);
        });
    </script>

    <!-- CONTENT -->
    <div data-role="content">
        <div class="text-center">
            <div class="bubble tour-bubble" id="tour-bubble" style="display:none;"></div>
            <ul id="id_question" data-role="listview" data-inset="true">
                <li data-role="list-divider">
                    <h4>
                        {% blocktrans with num=question.num text=question.text|escape|safe %}{{ num }}. {{ text }}{% endblocktrans %}
                    </h4>
                </li>
                {% if question.a %}
                    <li class="quiz-answer {% if submission.a %}selected{% endif %}" value="a">{{ question.a|escape|safe }}</li>
                {% endif %}

                {% if question.b %}
                    <li class="quiz-answer {% if submission.b %}selected{% endif %}" value="b">{{ question.b|escape|safe }}</li>
                {% endif %}

                {% if question.c %}
                    <li class="quiz-answer {% if submission.c %}selected{% endif %}" value="c">{{ question.c|escape|safe }}</li>
                {% endif %}

                {% if question.d %}
                    <li class="quiz-answer {% if submission.d %}selected{% endif %}" value="d">{{ question.d|escape|safe }}</li>
                {% endif %}

                {% if question.e %}
                    <li class="quiz-answer {% if submission.e %}selected{% endif %}" value="e">{{ question.e|escape|safe }}</li>
                {% endif %}

                {% if question.f %}
                    <li class="quiz-answer {% if submission.f %}selected{% endif %}" value="f">{{ question.f|escape|safe }}</li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- end CONTENT -->

    <!-- Footer -->
    <div data-role="footer" data-theme="b" data-position="fixed" data-id="footer-nav" data-tap-toggle="false">
        {% if previous %}
            <!-- Return to previous Question page. -->
            <button onclick="goto_quiz_question({{ quiz_id }}, {{ previous }});"
                      class="ui-btn ui-corner-all ui-icon-carat-l ui-btn-icon-left btnBack fleft m5">
                {% trans "Back" %}
            </button>
        {% else %}
            <!-- Return to Quiz home page. -->
            <button onclick="goto_quiz_home({{ quiz_id }});"
                      class="ui-btn ui-corner-all ui-icon-carat-l ui-btn-icon-left btnBack fleft m5">
                {% trans "Back" %}
            </button>
        {% endif %}

        {% if next %}
            <!-- Load to Next Question page. -->
            <button onclick="ajax_submit_question();"
                         id="id_next_btn"
                      class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-left btnNext fright m5">
                {% trans "Next" %}
            </button>
        {% else %}
            <!-- Load to Finished page. -->
            <button onclick="ajax_submit_question();"
                         id="id_next_btn"
                      class="fright m5 ui-btn ui-icon-check ui-btn-icon-left ui-corner-all"
                      style="background-color:green;">
                {% trans "Score Quiz" %}
            </button>
        {% endif %}
    </div>
    <!-- end Footer -->

</div><!-- /page -->
{% endblock content %}
