{% extends 'basepage/base.html' %}
{% load staticfiles i18n %}
{% block content %}

<!-- ---------- quiz ------------- -->
<div data-role="page" style="background-color:#fff;" id="course-quiz-begin">

    {% include 'basepage/top_menu.html' %}
    {% include 'basepage/side_menu.html' %}
    {% include "basepage/notification.html" %}
    <script type="text/javascript">
        $(document).ready(function(){
            loadUserData();
                          
            // Add a slight deley before detect any notications and load UI.
            setTimeout(function(){
                handle_fly_notifications();
            }, 500);
        });
    </script>

    <!-- CONTENT -->
    <div data-role="content">
        <div class="text-center">
            <h2 class="ui-bar ui-bar-a ui-corner-all">{{ quiz.title|escape|safe }}</h2>
            <div class="ui-body ui-body-a ui-corner-all mt10">
                {{ quiz.description|escape|safe }}
            </div>
        </div>
    </div>
    <!-- end CONTENT -->
    
    <!-- Footer -->
    <div data-role="footer"
        data-theme="b"
     data-position="fixed"
           data-id="footer-nav"
    data-tap-toggle="false">
        <button onclick="window.location='/{{ request.language }}/course/{{ quiz.course.id }}/';"
                  class="btnCloseQuiz ui-btn ui-corner-all ui-icon-delete ui-btn-icon-left fleft m5"
                  style="background-color:darkred;">
                {% trans "Close Quiz" %}
        </button>
        {% for question in questions %}
            {% if question.num == 1 %}
                <button id="btnBeginQuiz"
                   onclick="window.location='/{{ request.language }}/quiz/{{ quiz.id }}/question/{{ question.id }}/';"
                     class="ui-btn ui-corner-all ui-icon-check ui-btn-icon-left fright m5"
                     style="background-color:green;">
                    {% trans "Begin" %}
                </button>
            {% endif %}
        {% endfor %}
    </div>
    <!-- end Footer -->

</div><!-- /page -->

{% endblock content %}