{% load staticfiles compress i18n %}
<!DOCTYPE html>
<html lang="{{ request.language }}">

<head>

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="FLY will help you learn more about managing and achieving your financial goals." name="description"/>
    <meta content="entrepreneurship, financial, literacy, youth, app, saving money, money, learning, teaching" name="keywords"/>
    <link href="https://www.flyapp.ca/humans.txt" rel="author" type="text/plain"/>  <link type="text/plain" rel="author" href="https://www.flyapp.ca/humans.txt" />
    <title>{% trans "Financial Literacy for Youth (FLY)" %}</title>
    <meta name="google-site-verification" content="Gg2YrP5ZKFloZgbCHfik8Oqb4YmUacganqGgu_6oGIw" />

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
    <link rel="apple-touch-icon" href="{% static "img/apple-touch-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "img/apple-touch-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "img/apple-touch-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "img/apple-touch-icon-144x144.png" %}">

    {% compress css %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/landpage/agency.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'js/landpage/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    {% endcompress %}

    <!-- External Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">{% trans "Toggle navigation" %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{% trans "FLY by OIN" %}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#page-top">{% trans "Home" %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">{% trans "Get Started" %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#features">{% trans "Features" %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">{% trans "Gallery" %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">{% trans "Team" %}</a>
                    </li>
                    {% comment %}
                    <li>
                        <a class="page-scroll" href="#newsletter">{% trans "Newsletter" %}</a>
                    </li>
                    {% endcomment %}
                    <li>
                        <a class="page-scroll" href="#contact">{% trans "Contact" %}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
		   
		    <div class="intro-text">
			<div style="background: rgba(0,0,0,0.4); border-radius: 16px; padding: 20px 5px;">
				<div class="intro-lead-in">{% trans "It's time to level up your financial literacy.<br/>Start Here" %}</div>
				<div><p>{% trans "OIN is a non-profit funded by <a href=\"http://www.libro.ca/\">Libro Credit Union</a> and other community stakeholders that want to help youth increase their financial literacy. FLY is more than just a learning tool; we want to hear from you to see how we can make financial literacy and goal achievement engaging and fun. We want to see you have better financial outcomes, and learn about entrepreneurship as a career path. Getting started is easy and free; just download our free app or try it in the cloud today." %}</p></div>
				<a href="{% url 'authentication' %}" class="page-scroll btn btn-xl">{% trans "Start Fly" %}</a>
		    	</div>
		    </div>
		
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% trans "Introducing Fly" %}</h2>
                    <h3 class="section-subheading text-muted">{% trans "FLY (Financial Literacy &amp; Entrepreneurship for Youth) is a free app available on Android, iOS, and the web. Built from a grassroots, non-profit perspective, and backed by Libro Credit Union, as well as financial professionals, FLY was built to help you learn more about managing and achieving financial goals." %}</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">{% trans "Fully Responsive" %}</h4>
                    <p class="text-muted">{% trans "You can get FLY in the Apple App Store or Google Play Store, but you can also use it via the web, and it will look great in any modern web browser" %}</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">{% trans "Cloud-Based" %}</h4>
                    <p class="text-muted">{% trans "Want to check your goals from multiple devices? No worries, FLY keeps your goals in the cloud where they are sade, secure, and accessible." %}</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">{% trans "Built For Youth" %}</h4>
                    <p class="text-muted">{% trans "FLY works on all major platforms, and was built just for you!  We want it to be fun and engaging, so don't be afraid to tell us how we can improve!" %}</p>
                </div>
            </div>
        </div>
    </section>

    <section id="features">
         <div class="container">
             <div class="row">

                  <!-- Features Content -->


                  <div class="col-md-6 col-sm-12">

                        <!-- Heading -->
                        <div class="heading text-center">
                           <h2>{% trans "Features Of FLY App" %}</h2>
                           <p class="subheadline">{% trans "We want FLY to be the only app of its kind for youth." %}</p>
                        </div>
                        <!-- Heading End -->

                        <!-- Features List -->
                        <div class="col-md-12">
                           <span class="fa-stack fa-4x" style="float:left;margin-right:20px;">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">{% trans "Multi Platform" %}</h4>
                            <p class="text-muted">{% trans "FLY will work on leading devices with modern web browsers. Use it from just about anywhere you want." %}</p>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="col-md-12" style="margin-top:20px;">
                           <span class="fa-stack fa-4x" style="float:left;margin-right:20px;">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">{% trans "Open Source" %}</h4>
                            <p class="text-muted">{% trans "Not only will youth benefit, but organizations can view our project on GitHub to make FLY even better!" %}</p>
                        </div>
                        <!-- Features List End -->

                  </div>

                  <div class="col-md-6 col-sm-12">
                        <img class="img-responsive first wow fadeInLeft animated" src="{% static 'img/landpage/phones1.png' %}" alt="" style="display:inline;">
                  </div>
                  <!-- Features Content End -->

             </div><!-- .row End -->

             <div class="row">

                  <!-- Features Content -->
                  <div class="col-md-6 col-sm-12">
                        <img class="img-responsive second wow fadeInLeft animated" src="{% static 'img/landpage/phones4.png' %}" alt="" style="display:inline;">
                  </div>

                  <div class="col-md-6 col-sm-12">

                        <!-- Heading -->
                        <div class="heading text-center">
                           <h2>{% trans "All you need to know about FLY" %}</h2>
                           <p class="subheadline">{% trans "FLY is a free, open-source app built to teach youth financial literacy from a grassroots, non-profit approach." %}</p>
                        </div>
                        <!-- Heading End -->

                        <!-- Features List -->
                        <div class="col-md-12">
                           <span class="fa-stack fa-4x" style="float:left;margin-right:20px;">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-gamepad fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">{% trans "Gamify Your Goals" %}</h4>
                            <p class="text-muted">{% trans "FLY helps tyou to achieve your financial goals. Hit a goal, get some XP, level upm, and even earn some cool badges :-)" %}</p>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="col-md-12" style="margin-top:20px;">
                           <span class="fa-stack fa-4x" style="float:left;margin-right:20px;">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">{% trans "Diverse" %}</h4>
                            <p class="text-muted">{% trans "FLY will be available in English, French, and Spanish at launch." %}</p>
                        </div>
                        <!-- Features List End -->

                  </div>
                 <!-- Features Content End -->

             </div><!-- .row End -->
          </div><!-- .container End -->

 </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% trans "Take a Look At The App" %}</h2>
                    <h3 class="section-subheading text-muted">{% trans "FLY is free, and account creation is easy; you can login with Facebook, Twitter, or Google+. Want to see more before you downlad? Have a look below." %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#">
                        <img src="{% static 'img/landpage/screen1.jpg' %}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#">
                        <img src="{% static 'img/landpage/screen2.jpg' %}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#">
                        <img src="{% static 'img/landpage/screen3.jpg' %}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#">
                        <img src="{% static 'img/landpage/screen4.jpg' %}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#">
                        <img src="{% static 'img/landpage/screen1.jpg' %}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#">
                        <img src="{% static 'img/landpage/screen2.jpg' %}" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% trans "Our Amazing Team" %}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/landpage/team/rodolfo.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>{% trans "Rodolfo Martinez" %}</h4>
                        <p class="text-muted">{% trans "Project Manager" %}</p>
                        <p>{% trans "Rodolfo is the Project Manager - he makes sure that projects are completed on time, and on budget, with maximum results." %}</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="http://www.twitter.com/@rodolfo_dkm"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/rodolfomartinez"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/landpage/team/bart.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>{% trans "Bart Mika" %}</h4>
                        <p class="text-muted">{% trans "CTO" %}</p>
                        <p>{% trans "Bart is our Chief Technical Officer.  He works with our clients to make sure that all requirements are captured, and that all of our projects are designed right, the first time." %}</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="http://www.twitter.com/@BartlomiejMika"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/bartlomiej-mika-a9a5683b"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/landpage/team/chad.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>{% trans "Chad Smith" %}</h4>
                        <p class="text-muted">{% trans "Lead Developer" %}</p>
                        <p>{% trans "Chad is our Lead Developer.  With expertise in PHP, Java, C# and Python, he makes sure that all of our websites and apps run smoothly." %}</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="http://www.twitter.com/@chadjcsmith"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://ca.linkedin.com/in/chad-smith-46857575"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">{% trans "We are a team of dedicated professionals who have worked on many projects together, and are always looking for new opportunities.  Contact us today about your project and let us take a look at it for you." %}</p>
                </div>
            </div>
        </div>
    </section>

{% comment %}
    <!-- Newsletter Section -->
   <section id="newsletter" class="clearfix" style="background-color:#433F3C;color:#fff;">

         <!-- Newsletter -->
         <div class="newsletter overlay-gradient">

               <div class="container">
                  <div class="row">

                           <div class="col-md-8 col-md-offset-2">

                                 <!-- Heading -->
                                 <div class="heading center inverted">
                                    <h2>Stay Up To Date</h2>
                                    <p class="subheadline">Be the first to know about our next release and other cool apps. We wont share your email with anyone else.</p>
                                 </div>
                                 <!-- Heading End -->


<!-- Begin MailChimp Signup Form -->
<form action="//oinweb.us12.list-manage.com/subscribe/post?u=addca7152d8df674f299c9c64&amp;id=f21259666e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

	<input type="email" value="" name="EMAIL" class="input-field form-control email" placeholder="Enter Email Address" id="mc-email mce-EMAIL" style="width:70%;float:left;">
	<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary" style="width:25%;float:right;">

	<div id="mce-responses" class="clear" style="position:relative;top:90px;left:-150px;">
		<div class="response" id="mce-error-response" style="display:none;color:#fff;"></div>
		<div class="response" id="mce-success-response" style="display:none;color:#fff;"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_addca7152d8df674f299c9c64_f21259666e" tabindex="-1" value=""></div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->


                           </div>

                  </div><!-- .row End -->
               </div><!-- .container End -->

         </div>
         <!-- Newsletter End -->

   </section>
   <!-- Newsletter Section End -->
{% endcomment %}

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% trans "Contact Us" %}</h2>
                    <h3 class="section-subheading text-muted">{% trans "We would love to hear from you! Fill out this form and we will try to answer you as soon as possible!" %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert contact-status" style="display:none;">{% trans "No message sent yet" %}</div>
                    <form name="sentMessage" id="contactForm" method="post" action="{% url 'contact' %}" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="{% trans 'Your Name *' %}" name="name" id="name" required data-validation-required-message="{% trans 'Please enter your name.' %}">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="{% trans 'Your Email *' %}" name="email" id="email" required data-validation-required-message="{% trans 'Please enter your email address.' %}">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="{% trans 'Your Phone *' %}" name="phone" id="phone" required data-validation-required-message="{% trans 'Please enter your phone number.' %}">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="{% trans 'Your Message *' %}" name="message" id="message" required data-validation-required-message="{% trans 'Please enter a message.' %}"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="form-alert" class="alert"></div>
                                <input type="submit" class="btn btn-xl" value="{% trans 'Send Message' %}" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">{% trans "Copyright &copy; Financial Literacy for Youth 2016" %}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">{% trans "Privacy Policy" %}</a>
                        </li>
                        <li><a href="#">{% trans "Terms of Use" %}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    {% compress js %}
    <!-- jQuery -->
    <script src="{% static 'js/landpage/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'js/landpage/classie.js' %}"></script>
    <script src="{% static 'js/landpage/cbpAnimatedHeader.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'js/landpage/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/landpage/jquery.form.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/landpage/agency.js' %}"></script>
    {% endcompress %}

    <!-- External Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <script>
        $(document).ready(function() {
        $('#form-alert').hide().removeClass('alert-danger').removeClass('alert-success');

        var email_status = '{{ response.status }}';
        var email_message = '{{ response.message }}'
        var has_been_sent = '{{ response.sent_status }}';

        if (has_been_sent == 'sent') {
            if (email_status == 'success') {
                $('#form-alert').addClass('alert-success').text('Message successfully sent.');
                $('#form-alert').show();
            }
        }
        if (has_been_sent == 'error') {
            if (email_status == 'failure') {
                $('#form-alert').addClass('alert-danger').text('There was an error sending the message.');
                $('#form-alert').show();
            }
        }
    });
    </script>
    {% if settings.DEBUG == False %}
        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
             })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

             ga('create', 'UA-75427235-1', 'auto');
             ga('send', 'pageview');
        </script>
        <!-- end Google Analytics -->
    {% endif %}
</body>

</html>
