{% extends 'basepage/base.html' %}
{% load staticfiles i18n %}
{% block content %}

<!-- ---------- resources ------------- -->
<div data-role="page">
    {% include 'basepage/top_menu.html' %}
    {% include 'basepage/side_menu.html' %}
    <script>
        $(document).ready(function(){
            loadUserData();
                     
            // Add a slight deley before detect any notications and load UI.
            setTimeout(function(){
                handle_fly_notifications();
            }, 500);
                          
            // check if user is on an IOS device and change app links
            if(navigator.userAgent.match(/iPhone|iPad|iPod/i)){
                $('#mint-link').attr('href','https://itunes.apple.com/ca/app/mint-money-manager-budget/id300238550?mt=8');
                $('#goodbudget-link').attr('href','https://itunes.apple.com/ca/app/goodbudget-budget-planner/id471112395?mt=8')
                $('#mvelopes-link').attr('href','https://itunes.apple.com/ca/app/mvelopes-personal-finance/id417933753?mt=8')
            }
        });
    </script>

    <!-- Content -->
    <div data-role="content">
        <div class="text-center">
        
        <div class="my-boxes dashboard-box red-box" >
            <img src="{% static 'img/oinweb-fly-goals-menu-icon.png' %}" />
            <h2>{% trans "My Goals" %}</h2>
            <p>{% trans "Set goals for savings and credit score" %}</p>
            <a onclick="window.location='/{{ request.language }}/mygoals/savings'" class="ui-btn ui-btn-a ui-icon-arrow-r ui-btn-icon-left ui-shadow-icon ui-corner-all">{% trans "Savings" %}</a>
            <a onclick="window.location='/{{ request.language }}/mygoals/credit'" class="ui-btn ui-btn-a ui-icon-arrow-r ui-btn-icon-left ui-shadow-icon ui-corner-all">{% trans "Credit" %}</a>
            <a onclick="window.location='/{{ request.language }}/mygoals/final'" class="ui-btn ui-btn-a ui-icon-arrow-r ui-btn-icon-left ui-shadow-icon ui-corner-all">{% trans "Goal" %}</a>
        </div>
        
        </div>
    </div>
    <!-- /content -->

    {% include "basepage/notification.html" %}
    {% include "basepage/footer.html" %}

</div><!-- /page -->
{% endblock content %}