{% extends 'basepage/base.html' %}
{% load staticfiles i18n %}
{% block content %}

<!-- ---------- dashboard ------------- -->
<div data-role="page" id="dashboard">

    {% include 'basepage/top_menu.html' %}
    {% include 'basepage/side_menu.html' %}
    {% include "basepage/notification.html" %}
    
    <script type="text/javascript">
        $(document).ready(function(){
            loadUserData();
              
            // Add a slight deley before detect any notications and load UI.
            setTimeout(function(){
                handle_fly_notifications();
            }, 500);
        });
    </script>
    
    <div data-role="content">
        <div class="text-center">

            <div class="bubble tour-bubble" id="tour-bubble" style="display:none;"></div>

            <div class="my-boxes dashboard-box red-box" >
                <img src="{% static 'img/oinweb-fly-goals-menu-icon.png' %}" />
                <h2>{% trans "My Goals" %}</h2>
                <p>{% trans "Set goals for savings and credit score" %}</p>
                <a onclick="window.location='{% url 'my_goals' %}';" class="ui-btn ui-btn-a ui-icon-arrow-r ui-btn-icon-left ui-shadow-icon ui-corner-all">{% trans "My Goals" %}</a>
            </div>

            <div class="my-boxes dashboard-box blue-box">
                <img src="{% static 'img/oinweb-fly-learning.png' %}" />
                <h2>{% trans "Learning" %}</h2>
                <p>{% trans "Learn more about financial management" %}</p>
                <a onclick="window.location='{% url 'learning' %}';" class="ui-btn ui-btn-a ui-icon-arrow-r ui-btn-icon-left ui-shadow-icon ui-corner-all">{% trans "Continue" %}</a>
            </div>

            <div class="my-boxes dashboard-box green-box">
                <img src="{% static 'img/oinweb-fly-resources.png' %}" />
                <h2>{% trans "Resources" %}</h2>
                <p>{% trans "Other helpful apps and sites" %}</p>
                <a onclick="window.location='{% url 'resources' %}';" class="ui-btn ui-btn-a ui-icon-arrow-r ui-btn-icon-left ui-shadow-icon ui-corner-all">{% trans "Continue" %}</a>
            </div>

        </div>
    </div><!-- /content -->

    <script>
        var advance_tour = false;
        var cur_bubble = 0;
        var tour_bubbles = [
            {
                top: 45,
                left: 25,
                posx: 'left',
                type: 'bottom',
                element: '.ui-content div.text-center',
                text: 'Welcome to the Financial Literacy / Entrepreneurship for Youth App!',
                button: '<br/><button data-role="none" onclick="advance_tour = true;">Continue</button>',
                hasaction: false
            },
            {
                top: 45,
                left: 25,
                posx: 'left',
                type: 'bottom',
                element: '.ui-content div.text-center',
                text: 'This top bar shows from left-to-right, your avatar, your current FLY level, the amount of experience you have and how much you need to advance to the next level, a help button which will start the guided tour on any page, and the menu button.',
                button: '<br/><button data-role="none" onclick="advance_tour = true;">Continue</button>',
                hasaction: false
            },
            {
                top: 45,
                right: 25,
                posx: 'right',
                type: 'bottom',
                element: '.ui-content div.text-center',
                text: 'Clicking the menu bar will give you a list of all pages you can visit in a pop-out panel',
                button: '<br/><button data-role="none" onclick="advance_tour = true;">Continue</button>',
                hasaction: true,
                action: function(){ setTimeout(function(){ $('.menu-button').trigger('click'); }, 1000); }
            },
            {
                top: 215,
                right: 25,
                posx: 'right',
                type: 'bottom',
                element: '.ui-content div.text-center',
                text: 'This menu allows you access to every part of the FLY App. Under Profile, you can see your account information, your statistics, current goals, goal history, completed courses, any earned FLY Badges, and can subscribe to the newsletter.',
                button: '<br/><button data-role="none" onclick="advance_tour = true;">Continue</button>',
                hasaction: false
            },
            {
                top: 215,
                right: 25,
                posx: 'right',
                type: 'bottom',
                element: '.ui-content div.text-center',
                text: 'Under notifications you can change notification options for instance if a goal has been completed and needs your attention, and can turn these on and off.',
                button: '<br/><button data-role="none" onclick="advance_tour = true;">Continue</button>',
                hasaction: false
            },
            {
                top: 215,
                right: 25,
                posx: 'right',
                type: 'bottom',
                element: '.ui-content div.text-center',
                text: 'Log Out allows you to log out of the application.',
                button: '<br/><button data-role="none" onclick="advance_tour = true;">Continue</button>',
                hasaction: false
            },
            {
                top: 15,
                right: 25,
                posx: 'right',
                type: 'top',
                element: '.ui-content div.text-center',
                text: 'Help will take you to a contact page where you can ask questions if you need help with something.',
                button: '<br/><button data-role="none" onclick="advance_tour = true;">Continue</button>',
                hasaction: false
            },
            {
                top: 15,
                right: 25,
                posx: 'right',
                type: 'top',
                element: '.ui-content div.text-center',
                text: 'Dashboard is the page you are on right now, and gives you quick access to your goals, any available courses, and also any resources that you can browse through',
                button: '<br/><button data-role="none" onclick="advance_tour = true;">Continue</button>',
                hasaction: false
            },
            {
                top: 15,
                right: 25,
                posx: 'right',
                type: 'top',
                element: '.ui-content div.text-center',
                text: 'My Goals allows you to set Savings, Credit, and Long-Term goals.  You can set goals once a month, and completing them lets you earn xp and badges.',
                button: '<br/><button data-role="none" onclick="advance_tour = true;">Continue</button>',
                hasaction: false
            },
            {
                top: 15,
                right: 25,
                posx: 'right',
                type: 'top',
                element: '.ui-content div.text-center',
                text: 'Learning allows you to see any courses you have available. At the end of every course you\'ll be able to take a quiz to see how well you did.',
                button: '<br/><button data-role="none" onclick="advance_tour = true;">Continue</button>',
                hasaction: false
            },
            {
                top: 15,
                right: 25,
                posx: 'right',
                type: 'top',
                element: '.ui-content div.text-center',
                text: 'Resources is a collection of resources like blogs, company pages, and social media accounts that give out financial advice, or have tips on managing your money.',
                button: '<br/><button data-role="none" onclick="advance_tour = true;">Continue</button>',
                hasaction: false
            },
            {
                top: 15,
                right: 25,
                posx: 'right',
                type: 'top',
                element: '.ui-content div.text-center',
                text: 'Close Menu will close the navigation menu.  The menu will now close and you\'ll be back on the Dashboard.',
                button: '<br/><button data-role="none" onclick="advance_tour = true;">Continue</button>',
                hasaction: true,
                action: function(){ setTimeout(function(){ $('.close-menu-button').trigger('click'); }, 1000) }
            },
            {
                top: 45,
                right: 25,
                posx: 'right',
                type: 'top',
                element: '.red-box',
                center: true,
                text: 'This box lets you go to your goals section, where you can set goals by clicking the button at the bottom',
                button: '<br/><button data-role="none" onclick="advance_tour = true;">Continue</button>',
                hasaction: false
            },
            {
                top: 45,
                right: 25,
                posx: 'right',
                type: 'top',
                element: '.blue-box',
                center: true,
                text: 'This box lets you go to the learning section, where you can take any available courses, plus a quiz once you are finished reading the course material.  More courses will unlock as you complete them.',
                button: '<br/><button data-role="none" onclick="advance_tour = true;">Continue</button>',
                hasaction: false
            },
            {
                top: 45,
                right: 25,
                posx: 'right',
                type: 'top',
                element: '.green-box',
                center: true,
                text: 'This box lets you go to the resources section, where you can browse through helpful resources on taking care of your finances and money, as well as visit social media accounts devoted to finances, and get access to other applications that can help you with money management.',
                button: '<br/><button data-role="none" onclick="advance_tour = true;">Continue</button>',
                hasaction: false
            },
            {
                top: 45,
                left: 25,
                posx: 'left',
                type: 'bottom',
                element: '.ui-content div.text-center',
                center: true,
                text: 'That concludes the tour of the dashboard page. Remember that you can press the help icon in the top bar at any time to view the tour again, or to view a tour of another page',
                button: '<br/><button data-role="none" onclick="advance_tour = true;">Finish</button>',
                finish: true,
                hasaction: false
            }

        ];

        function start_page_tour(){
            $('.tour-bubble').show();
            next_bubble();

            setInterval(function(){ if(advance_tour == true){ advance_tour = false; next_bubble(); } }, 300);
        }

        function next_bubble(){
            if(cur_bubble <= tour_bubbles.length){
                // get current bubble
                var bubble = tour_bubbles[cur_bubble];
                // get the active bubble
                var active_bubble = $('.tour-bubble');

                if( cur_bubble == tour_bubbles.length ){
                    active_bubble.hide();
                    cur_bubble = 0;
                    return;
                }

                if( bubble.center )
                    window.location="#tour-bubble";

                // position the tour bubble dependant on element
                $(bubble.element).prepend(active_bubble);

                // change bubble type
                if(bubble.type == 'top'){
                    active_bubble.removeClass('bubble-bottom').removeClass('bubble-left').removeClass('bubble-right').addClass('bubble-top');
                }
                else if(bubble.type =='bottom'){
                    active_bubble.removeClass('bubble-top').removeClass('bubble-left').removeClass('bubble-right').addClass('bubble-bottom');
                }
                else if(bubble.type == 'left'){
                    active_bubble.removeClass('bubble-bottom').removeClass('bubble-top').removeClass('bubble-right').addClass('bubble-left');
                }
                else if(bubble.type == 'right'){
                    active_bubble.removeClass('bubble-bottom').removeClass('bubble-top').removeClass('bubble-left').addClass('bubble-right');
                }

                // position bubble with absolute positioning
                active_bubble.css('top',bubble.top+'px');
                if( bubble.posx == 'left'){
                    active_bubble.css('left',bubble.left+'px').css('right', 'auto');
                }
                else{
                    active_bubble.css('right', bubble.right+'px').css('left', 'auto');
                }

                // change the bubble text and button
                active_bubble.text(bubble.text);

                // if there is an action to be performed, perform it
                if(bubble.hasaction){
                    bubble.action();
                    setTimeout(function(){ active_bubble.append(bubble.button) }, 1500);
                }
                else{
                    active_bubble.append(bubble.button);
                }

                active_bubble.show();

                // advance count to next bubble to prepare for advancement
                cur_bubble++;
            }
        }
    </script>

    {% include "basepage/footer.html" %}

</div><!-- /page -->
{% endblock content %}
