{% extends 'basepage/base.html' %}
{% load staticfiles i18n %}
{% block content %}

<!-- ---------- notification ------------- -->
<div data-role="page" style="background-color:#fff;" id="badges">

    {% include 'basepage/top_menu.html' %}
    {% include 'basepage/side_menu.html' %}
    <script type="text/javascript">
        $(document).ready(function(){
            loadUserData();
                          
            // Add a slight deley before detect any notications and load UI.
            setTimeout(function(){
                handle_fly_notifications();
            }, 500);
        });
    </script>

    <!-- Content -->
    <div data-role="content">
        <div class="text-center">
            <form>
                <ul data-role="listview" data-inset="true">
                    <li data-role="list-divider" style="background-color:#E66771;color:#fff;">
                        <h4>{% trans "Badges" %}</h4>
                    </li>
                    <li style="margin-bottom:-10px;">
                    {% for badge in request.me.badges.all %}
                        <div class="ui-grid-a">
                            {% if forloop.counter|divisibleby:2 %}
                                <div class="ui-block-a badges text-center">
                                    <i class="fa fa-3x {{ badge.icon|escape|safe }}" style="color:{{ badge.colour|escape|safe }};"></i>
                                    <h4>{{ badge.title|escape|safe }}</h4>
                                    <p style="word-break: keep-all;">{{ badge.description|escape|safe }}</p>
                                </div>
                            {% else %}
                                <div class="ui-block-b badges text-center">
                                    <i class="fa fa-3x {{ badge.icon|escape|safe }}" style="color:{{ badge.colour|escape|safe }};"></i>
                                    <h4>{{ badge.title|escape|safe }}</h4>
                                    <p style="word-break: keep-all;">{{ badge.description|escape|safe }}</p>
                                </div>
                            {% endif %}
                        </div>
                    {% empty %}
                        <li>
                            {% trans "No Badges Earned" %}
                        </li>
                    {% endfor %}
                    </li>
                    <li>
                        <a onclick="window.location='{% url 'account' %}#profile';" class="mt10 ui-btn ui-icon-check ui-btn-icon-left ui-btn-a " style="margin-top:10px;">
                            <span>{% trans "OK" %}</span>
                        </a>
                        <script>

                        </script>
                    </li>
                </ul>
            </form>
        </div>
    </div><!-- /content -->
    
    {% include "basepage/notification.html" %}
    {% include "basepage/footer.html" %}

</div><!-- /page -->
{% endblock content %}
