{% extends 'basepage/base.html' %}
{% load staticfiles i18n %}
{% block content %}

<!-- ---------- notification ------------- -->
<div data-role="page" style="background-color:#fff;" id="notifications-page">

    {% include 'basepage/top_menu.html' %}
    {% include 'basepage/side_menu.html' %}
    <script type="text/javascript">
        $(document).ready(function(){
            loadUserData();
                          
            // Add a slight deley before detect any notications and load UI.
            setTimeout(function(){
                handle_fly_notifications();
            }, 500);
        });
        
        function ajax_me_wants_goal_notify(wants_goal_notify, callback) {
            get_me(
                {{ request.me.id }},
                function(me) {
                    me['wants_goal_notify'] = wants_goal_notify;
                    set_me(
                        me,
                        function(me2) {
                            callback("OK");
                        },
                        function(error_json) {
                            callback("BAD");
                        }
                    ); // end Set Me.
                },
                function(error_json) {
                    callback("BAD");
                }
            ); // end Get Me.
        }
    
        function ajax_me_wants_course_notify(wants_course_notify, callback) {
            get_me(
                {{ request.me.id }},
                function(me) {
                    me['wants_course_notify'] = wants_course_notify;
                    set_me(
                        me,
                        function(me2) {
                            callback("OK");
                        },
                        function(error_json) {
                            callback("BAD");
                        }
                    ); // end Set Me.
                },
                function(error_json) {
                    callback("BAD");
                }
            ); // end Get Me.
        }
    
        function ajax_me_wants_resource_notify(wants_resource_notify, callback) {
            get_me(
                {{ request.me.id }},
                function(me) {
                    me['wants_resource_notify'] = wants_resource_notify;
                    set_me(
                        me,
                        function(me2) {
                            callback("OK");
                        },
                        function(error_json) {
                            callback("BAD");
                        }
                    ); // end Set Me.
                },
                function(error_json) {
                    callback("BAD");
                }
            ); // end Get Me.
        }
    
        function ajax_save_notify() {
            var wants_goal_notify = $('#goals-switch').val();
            if (wants_goal_notify == "On") {
                wants_goal_notify = "True";
            } else {
                wants_goal_notify = "False";
            }
            
            var wants_course_notify = $('#course-switch').val();
            if (wants_course_notify == "On") {
                wants_course_notify = "True";
            } else {
                wants_course_notify = "False";
            }
            
            var wants_resource_notify = $('#resource-switch').val();
            if (wants_resource_notify == "On") {
                wants_resource_notify = "True";
            } else {
                wants_resource_notify = "False";
            }
            
            ajax_me_wants_goal_notify(wants_goal_notify, function(message) {
                ajax_me_wants_course_notify(wants_course_notify, function(message2) {
                    ajax_me_wants_resource_notify(wants_resource_notify, function(message3) {
                        console.log("Finished");
                        location.reload(true); // Reload page with cache cleared.
                    });
                });
            });
        }

    </script>

    <!-- Content -->
    <div data-role="content">
        <div class="text-center">
            <div class="bubble tour-bubble" id="tour-bubble" style="display:none;"></div>
            <form>
                <ul data-role="listview" data-inset="true">
                    <li data-role="list-divider" style="background-color:#E66771;color:#fff;">
                        <h4>{% trans "Notifications" %}</h4>
                    </li>
                    <li>
                        <span style="position:relative;top:10px;font-size:10pt;">{% trans "Set New Goal" %}</span>
                        <span class="text-right fright">
                            <select id="goals-switch" data-role="slider" data-mini="true">
                                <option {% if request.me.wants_goal_notify == False %}selected="true"{% endif %}>{% trans "Off" %}</option>
                                <option {% if request.me.wants_goal_notify == True %}selected="true"{% endif %}>{% trans "On" %}</option>
                            </select>
                        </span>
                    </li>
                    <li>
                        <span style="position:relative;top:10px;font-size:10pt;">{% trans "New Course Available" %}</span>
                        <span class="text-right fright">
                            <select id="course-switch" data-role="slider" data-mini="true">
                                <option {% if request.me.wants_course_notify == False %}selected="true"{% endif %}>{% trans "Off" %}</option>
                                <option {% if request.me.wants_course_notify == True %}selected="true"{% endif %}>{% trans "On" %}</option>
                            </select>
                        </span>
                    </li>
                    <li>
                        <span style="position:relative;top:10px;font-size:10pt;">{% trans "New Resource Available" %}</span>
                        <span class="text-right fright">
                            <select id="resource-switch" data-role="slider" data-mini="true">
                                <option {% if request.me.wants_resource_notify == False %}selected="true"{% endif %}>{% trans "Off" %}</option>
                                <option {% if request.me.wants_resource_notify == True %}selected="true"{% endif %}>{% trans "On" %}</option>
                            </select>
                        </span>
                    </li>
                    <li>
                        <button onclick="ajax_save_notify();" id="btnSaveChanges" class="mt10 ui-btn ui-icon-edit ui-btn-icon-left ui-btn-a ui-corner-all ui-shadow" style="margin-top:10px;">
                            <span>{% trans "Save Changes" %}</span>
                        </button>
                    </li>
                </ul>
            </form>
        </div>
    </div><!-- /content -->

    <script>
        var advance_tour = false;
    var cur_bubble = 0;
    var tour_bubbles = [
        {
            top: 150,
            left: 25,
            posx: 'left',
            type: 'bottom',
            element: '.ui-content div.text-center',
            text: 'Welcome to the notifications page! Here you can turn on and off notifications about goals, courses, and resources.',
            button: '<br/><button data-role="none" onclick="advance_tour = true;">Continue</button>',
            hasaction: false
        },
        {
            top: 150,
            left: 25,
            posx: 'left',
            type: 'bottom',
            element: '.ui-content div.text-center',
            text: 'To be notified about when it\'s time to set a new goal, turn this on and you\'ll know what goals need to be set.',
            button: '<br/><button data-role="none" onclick="advance_tour = true;">Continue</button>',
            hasaction: false
        },
        {
            top: 225,
            left: 25,
            posx: 'left',
            type: 'bottom',
            element: '.ui-content div.text-center',
            text: 'To be notified about when new course content is available, turn this on and you\'ll know right away when new content has been unlocked or is available to you.',
            button: '<br/><button data-role="none" onclick="advance_tour = true;">Continue</button>',
            hasaction: false
        },
        {
            top: 300,
            left: 25,
            posx: 'left',
            type: 'bottom',
            element: '.ui-content div.text-center',
            text: 'To be notified about when new resources are available, turn this on and you\'ll be able to see any new resources that have been added to the resources page.',
            button: '<br/><button data-role="none" onclick="advance_tour = true;">Continue</button>',
            hasaction: false
        },
        {
            top: 215,
            left: 25,
            posx: 'left',
            type: 'top',
            center: true,
            element: '.ui-content div.text-center',
            text: 'This button will save any changes you have made to your notification settings, so be sure so click it before you leave the page.',
            button: '<br/><button data-role="none" onclick="cur_bubble=0;advance_tour = false;$(\'#tour-bubble\').hide();">Finish</button>',
            finish: true,
            finishnow: false,
            hasaction: false
        }
    ];

    function start_page_tour(){
        $('.tour-bubble').show();
        next_bubble();

        setInterval(function(){ if(advance_tour == true){ advance_tour = false; next_bubble(); } }, 300);
    }

    function next_bubble(){
        if(cur_bubble <= tour_bubbles.length){
            // get current bubble
            var bubble = tour_bubbles[cur_bubble];
            // get the active bubble
            var active_bubble = $('.tour-bubble');

            if( bubble.center )
                window.location="#tour-bubble";

            // position the tour bubble dependant on element
            $(bubble.element).prepend(active_bubble);

            // change bubble type
            if(bubble.type == 'top'){
                active_bubble.removeClass('bubble-bottom').removeClass('bubble-left').removeClass('bubble-right').addClass('bubble-top');
            }
            else if(bubble.type =='bottom'){
                active_bubble.removeClass('bubble-top').removeClass('bubble-left').removeClass('bubble-right').addClass('bubble-bottom');
            }
            else if(bubble.type == 'left'){
                active_bubble.removeClass('bubble-bottom').removeClass('bubble-top').removeClass('bubble-right').addClass('bubble-left');
            }
            else if(bubble.type == 'right'){
                active_bubble.removeClass('bubble-bottom').removeClass('bubble-top').removeClass('bubble-left').addClass('bubble-right');
            }

            // position bubble with absolute positioning
            active_bubble.css('top',bubble.top+'px');
            if( bubble.posx == 'left'){
                active_bubble.css('left',bubble.left+'px').css('right', 'auto');
            }
            else{
                active_bubble.css('right', bubble.right+'px').css('left', 'auto');
            }

            // change the bubble text and button
            active_bubble.text(bubble.text);

            // if there is an action to be performed, perform it
            if(bubble.hasaction){
                bubble.action();
                setTimeout(function(){ active_bubble.append(bubble.button) }, 1500);
            }
            else{
                active_bubble.append(bubble.button);
            }

            active_bubble.show();

            cur_bubble++;
        }
    }
    </script>
    
    {% include "basepage/notification.html" %}
    {% include "basepage/footer.html" %}

</div><!-- /page -->
{% endblock content %}