{% extends 'basepage/base.html' %}
{% load staticfiles i18n account_extras %}
{% block content %}

<!-- ---------- profile ------------- -->
<div data-role="page" id="profile">

    {% include 'basepage/top_menu.html' %}
    {% include 'basepage/side_menu.html' %}

    <!-- Content -->
    <div data-role="content">
        <div class="text-center">
            <ul data-role="listview" data-inset="true">
                <li data-role="list-divider" style="background-color:#E66771;color:#fff;">
                    <h4>{% trans "User Info" %}</h4>
                </li>
                <li>
                    <span>{% trans "Name" %}</span>
                    <span class="fright text-right">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                </li>
                <li>
                    <span>{% trans "Date Joined" %}</span>
                    <span class="fright text-right">{{ request.user.date_joined }}</span>
                </li>
                <li>
                    <span>{% trans "Level" %} ({{ request.me.xplevel.level }})</span>
                    <span class="fright text-right" style="color:goldenrod;">{{ request.me.xplevel.title|escape|safe }}</span>
                </li>
                <li>
                    <span>{% trans "Experience" %}</span>
                    <span class="fright text-right" style="color:green;">{{ request.me.xp }}/{{ request.me.xplevel.max_xp }} xp</span>
                </li>
            <!--
                <li>
                    <span>Linked By</span>
                    <span class="fright text-right"><i class="fa fa-facebook-square fa-fw"></i> Facebook</span>
                </li>
            -->
            </ul>
        <ul data-role="listview" data-inset="true">
            <li data-role="list-divider" style="background-color:#779ECB;color:#fff;">
                <h4>{% trans "Current Goals" %}</h4>
            </li>
            <li>
                <span>{% trans "Saving" %}</span>
                <p>{% show_goal_text savings_goal constants.SAVINGS_MYGOAL_TYPE %}</p>
            </li>
            <li>
                <span>{% trans "Credit" %}</span>
                <p>{% show_goal_text credit_goal constants.CREDIT_MYGOAL_TYPE %}</p>
            </li>
            <li>
                <span>{% trans "Goal" %}</span>
                <p>{% show_goal_text final_goal constants.GOAL_MYGOAL_TYPE %}</p>
            </li>
        </ul>
                
        <ul data-role="listview" data-inset="true" style="border-bottom-right-radius:0px;border-bottom-left-radius: 0px;">
            <li data-role="list-divider" style="background-color:#92C472;color:#fff;">
                <h4>{% trans "Goal History" %}</h4>
            </li>
            <li>
                <a onclick="window.location='/{{ request.language }}/goal_history/{{ constants.SAVINGS_MYGOAL_TYPE }}/';">
                    <span>{% trans "Savings Goal" %}</span>
                </a>
            </li>
            <li>
                <a onclick="window.location='/{{ request.language }}/goal_history/{{ constants.CREDIT_MYGOAL_TYPE }}/';">
                    <span>{% trans "Credit Goal" %}</span>
                </a>
            </li>
            <li>
                <a onclick="window.location='/{{ request.language }}/goal_history/{{ constants.GOAL_MYGOAL_TYPE}}/';">
                    <span>{% trans "Final Goal" %}</span>
                </a>
            </li>
        </ul>
        
        <ul data-role="listview" data-inset="true" id="courses">
            <li data-role="list-divider" style="background-color:#E74C3C;color:#fff;">
                <h4>{% trans "Courses Completed" %}</h4>
            </li>
            {% for enrollment in enrollments.all %}
                <li>
                    <a onclick="window.location='/{{ request.language }}/course/{{ enrollment.course.id }}/';">
                        <span>{{ enrollment.course.title|escape|safe }}</span>
                        {% if enrollment.final_mark >= 75 %}
                            <span class="fright" style="color:green;">{{ enrollment.final_mark }}%</span>
                        {% elif enrollment.final_mark >= 50 and enrollment.final_mark < 75 %}
                            <span class="fright" style="color:yellow;">{{ enrollment.final_mark }}%</span>
                        {% else %}
                            <span class="fright" style="color:red;">{{ enrollment.final_mark }}%</span>
                        {% endif %}
                    </a>
                </li>
            {% empty %}
                <li>
                    {% trans "Not enrolled in any courses." %}
                </li>
            {% endfor %}
        </ul>
        
        <ul data-role="listview" data-inset="true" id="badges">
            <li data-role="list-divider" style="background-color:darkturquoise;color:#fff;">
                <h4>{% trans "FLY Badges" %}</h4>
            </li>
            <li>
                <a onclick="$('#badges-popup').popup('open');" data-icon="thumbs-up">{% trans "View Badges" %}</a>
            </li>
        </ul>
        
        <ul data-role="listview" data-inset="true">
            <li data-role="list-divider" style="background-color:goldenrod;color:#fff;">
                <h4>{% trans "Newsletter Signup" %}</h4>
            </li>
            <li>
                <span style="position:relative;top:10px;font-size:10pt;">{% trans "Receive Newsletter" %}</span><span class="text-right fright">
                    <form>
                        <select id="newsletter-switch" data-role="slider" data-mini="true">
                            <option selected="true">{% trans "Off" %}</option>
                            <option>{% trans "On" %}</option>
                        </select>
                    </form>
                </span>
                <button id="btnSaveChanges" style="display:none;" class="ui-btn ui-icon-edit ui-btn-icon-left ui-btn-a ui-corner-all ui-shadow" style="margin-top:30px;">
                    <span>{% trans "Save Changes" %}</span>
                </button>
            </li>
        </ul>
        <button data-icon="warning" id="btnDeleteAccount" class="ui-btn ui-icon-edit ui-btn-icon-left ui-btn-a ui-corner-all ui-shadow">
            <span>{% trans "Remove Account" %}</span>
        </button>
    </div>
</div><!-- /content -->
    
    {% include "basepage/footer.html" %}

</div><!-- /page -->

<script type="text/javascript">
    $(document).ready(function(){
        loadUserData();
    });
</script>

{% endblock content %}